:root {
    --text-color: rgb(193, 193, 255);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#kagamihiiragi {
    position: fixed;
    left: 40px;
    bottom: 0;
    max-height: 200px;
}

#kagamihiiragi2 {
    position: fixed;
    right: 40px;
    top: 0;
    max-height: 200px;
    rotate: 180deg;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    background-image: url('../media/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-heart:is(i) {
    display: block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-color: var(--text-color);
    mask: url('/links/content/media/heart.svg') no-repeat center / contain;
    -webkit-mask: url('/links/content/media/heart.svg') no-repeat center / contain;
}

header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
}

footer {
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

main {
    flex: 1;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: var(--text-color);
}

section>table{
    margin: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

tr>th:first-child,
tr>td:first-child {
    border-right: 2px dotted black;
}

td,th {
    padding: 20px;
    border-bottom: 2px solid black;
}

tr:last-child>td {
    border-bottom: none;
}
